# SourcePawn sources: private repo Left4Dead2-Archipelago-Dev cloned here, never published
sourcemod/
*.sp

# Python
__pycache__/
*.pyc

# Builds
build/
dist/
*.apworld
*.vpk
*.smx
*.exe

# Files written by the client at runtime
theme_config.json
goal_completed_*.txt
location_check.txt
mod_data/
